:root {
  /* Colors */
  --black-color: #000000;
  --white-color: #ffffff;
  --yellow-color: #f7d44c;
  --red-color: #eb7a53;
  --blue-color: #98b7db;
  --green-color: #a8d672;
  --beige-color: #f6ecc9;

  /* socials palette */
  --color-telegram-blue: #2aabee;
  --color-whatsapp-green: #2bb741;
  --color-vk-blue: #4c75a3;

  /* Indents */
  --primary-indent: 10px;
  --secondary-indent: 20px;

  /* Fonts */
  --ff-Tilda: "Tilda Sans", "Arial", sans-serif;
  --fz-s: 15px;
  --fz-m: 20px;
  --fz-l: 25px;

  /* Breakpoints */
  --vp-500: 500px;
  --vp-768: 768px;
  --vp-1260: 1260px;
  --vp-1380: 1380px;
  --vp-1600: 1600px;
}
