@import '../../styles/vars.css'; 

.header {
  padding: 15px 0;
  
  color: var(--white-color);
  font-family: var(--ff-Tilda);
  
  background-color: var(--black-color);
}

.navigation {
  display: flex;
}

.navigation__button {
  padding: 10px;
  margin-left: auto;
}
